.footer {
    display: flex;
    justify-content: space-between;

    .text {
        font-size: 16px;
    }

    .social-media {
        gap: 10px;
        display: none;

        @include desktop {
            display: inline;
        }


        .link {       
            justify-content: center;
            align-items: center;
            min-width: 35px;
            min-height: 35px;
            text-decoration: none;
            appearance: none;
            background-image: none;


            &::after {
                content: "";
                display: none;
            }

            i {
                font-size: 20px;
            }
        }
    }
}
