$headingSizes: (
  "h1": 56px,
  "h2": 32px,
  "h3": 24px,
  "h4": 20px,
  "h5": 16px,
  "h6": 14px,
);

$textSizes: (
  "body": 14px,
  "span": 14px,
  "quote": 14px,
);

$fontWeights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);
