:root {
  --color-default: #000000;

  --color-dark: #000000;
  --color-dark-transparent: rgba(0, 0, 0, 0.2);
  --color-light: #ffffff;
  --color-gray: #cccccc;
  --color-accent: #3b5998;
  --color-danger: #f42d2d;
  --color-success: #09a909;
  --color-warning: #ffab07;

  --color-border-dark: #000000;
  --color-border-dark-transparent: rgba(0, 0, 0, 0.2);
  --color-border-light: #ffffff;
  --color-border-gray: #cccccc;
  --color-border-gray-transparent: rgba(204, 204, 204, 0.5);
  --color-border-accent: #3b5998;
}
