<div id="overlay" class="overlay">
    <div class="overlay-content">
        <button onclick="hideOverlay()" class="close-btn">&times;</button>


        <div id="termsText" class="overlay-text" style="display: none;">
            <p>"Welcome to our webshop! By shopping here, you agree to our terms and conditions. We strive to offer high-quality products and a safe shopping experience. Please read our delivery and return policies carefully. To ensure proper handling of your orders, we ask that you provide accurate information. If you have any questions or issues, please contact our customer service. Thank you for shopping with us!"</p>
        </div>

        <div id="conditionsText" class="overlay-text" style="display: none;">
            <p>"Welcome to our webshop! By shopping here, you agree to our terms and conditions. We strive to offer high-quality products and a safe shopping experience. Please read our delivery and return policies carefully. To ensure proper handling of your orders, we ask that you provide accurate information. If you have any questions or issues, please contact our customer service. Thank you for shopping with us!"</p>
        </div>
    </div>
</div>
