@using System.Collections.ObjectModel
@{
    ViewData["Title"] = Model.PageTitle;

    var temporaryCategoryList = new[]
    {
        new { Id = 1, Name = "Category 1" },
        new { Id = 2, Name = "Category 2" },
        new { Id = 3, Name = "Category 3" }
    };

    var temporaryProductList = new[]
    {
        new { ArticleNumber = "1", Name = "Product 1", Ingress = "Ingress",  Price = 100 },
        new { ArticleNumber = "2", Name = "Product 2", Ingress = "Ingress",  Price = 100 },
        new { ArticleNumber = "3", Name = "Product 3", Ingress = "Ingress",  Price = 100 },
        new { ArticleNumber = "4", Name = "Product 4", Ingress = "Ingress",  Price = 100 },
        new { ArticleNumber = "5", Name = "Product 5", Ingress = "Ingress",  Price = 100 },

    };
}

<section class="section">
    <div class="container bg-light hero-section">
        <div class="category-menu">
            <h2 class="h4 heading">Categories</h2>
            <div class="link-wrapper">
            @foreach (var category in temporaryCategoryList){
                <a asp-controller="Product" asp-action="" class="category-link">
                    <i class="fa-solid fa-xmark"></i>
                    <h2 class="h5">Category Name</h2>
                </a>
            }
            </div>
        </div>
        <div class="content-wrapper">
            <div class="image-wrapper">
                <img src="https://picsum.photos/400" class="image">
            </div>
            <div class="text-wrapper">
                <h1 class="h2">20% Discount On New Arrival Products</h1>
                <p class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione consectetur fuga iste et porro magni repellendus nesciunt.</p>
            </div>
        </div>
    </div>
</section>

<section class="section new-arrivals-section">
    <div class="container bg-light product-list">
        <div class="product-heading">
            <h2 class="h3">New Arrivals</h2>
            <a asp-controller="" asp-action="" class="link">View All</a>
        </div>
        <div class="product-grid">
            @for (int i = 0; i < 4; i++)
            {
                <article class="product-card">
                    <div class="image-wrapper">
                        <img src="https://picsum.photos/400" alt="" class="product-image" />
                        <div class="icon-wrapper">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <div class="product-text">
                        <h3 class="h6">@temporaryProductList[i].Name</h3>
                        <p class="body">@temporaryProductList[i].Ingress</p>
                        <p class="h6">Price</p>
                    </div>
                </article>
            }
        </div>
    </div>
</section>
