@model WebApp.ViewModels.ForgotPasswordViewModel
@{
}

<section class="signin-welcome">
    <div class="container signin-container">
        <h2>Forgot your password?</h2>
        <p>Enter your email address and we'll send you a link to reset your password.</p>
    </div>
</section>

<section class="form-section">
    <div class="container signin-container">
        <div class="signin-form">
            <form asp-controller="PasswordRecovery" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="input-form" />
                    <span asp-validation-for="Email" class="error"></span>
                </div>

                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</section>
<script defer src="~/js/validation.js"></script>
