<div id="sortModal">
    <div class="sort-modal-content">
        <button type="button" class="btn-modal-close" onclick="closeSortModal()"><i class="fa-solid fa-x"></i></button>

@*         <div class="modal-search-bar">
            <input type="text" id="searchInput" placeholder="Search..." oninput="filterProducts()" />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div> *@


       @*  <button id="applySortButton" class="apply-sort-btn" onclick="">Apply now</button> *@

        <p class="items-notadded">This filtering modal is not finished!</p>

        <div class="sort-modal-body">
        </div>
    </div>
</div>