/*-------- dont want to edit this similar/existing one called ".category-link" in site.css, beacuse of possible conflicts ---------*/
.category-links {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--color-dark);
    padding-bottom: 2rem;

    h3 {
        font-weight: 500;
    }

    i {
        font-size: 1.2rem;
        width: 1.5rem;
        text-align: center;
    }

    &:hover,
    &:active {
        color: gray;
    }
}

/*------------------products grid-----------------*/

.all-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .title-sort {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .product-title {
        align-self: flex-start;
        margin-bottom: 2rem;
    }

    .product-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);

        .product-item {
            position: relative;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
                height: 14rem;
                width:15rem;
                border-radius: 8px;
                margin-bottom: 0.5rem;
            }

            h2 {
                font-size: 1rem;
                margin-bottom: 0.2rem;
            }

            p {
                margin-bottom: 0.4rem;
            }
        }
    }
}

// Responsive Design
@media (max-width: 1200px) {
    .all-products .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .all-products .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .all-products .product-grid {
        grid-template-columns: 1fr;
    }
}

/*------------------- Product Modal----------------------*/
#productModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .product-modal-content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        height: 80%;
        width: 60%;
        display: flex;
        overflow-y: auto;

        .modal-content-image {
            position: relative;

            img {
                width: 60rem;
                height: 100%;
                object-fit:fill;
                z-index: -1;
            }
        }

        .modal-content-text {
            padding: 2rem;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            .product-modal-header {
                display: flex;
                padding-bottom: 1rem;
                justify-content: space-between;

                h2 {
                    font-weight: bold;
                }
            }

            .product-modal-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between; // Ensures .modal-body-cart is at the bottom
                flex-grow: 1;
                overflow-y: auto;

                .modal-body-info {
                    padding-bottom: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .modal-size,
                    .modal-color {
                        display: flex;
                        gap: 0.5rem;

                        .btn-modal-size,
                        .btn-modal-color {
                            border-radius: 50%;
                            width: 2rem;
                            height: 2rem;
                            cursor: pointer;
                            background-color: white;
                            font-weight: bold;
                            color: gray;
                            border: 1px solid gray;

                            &.selected {
                                background-color: black;
                                color: white;
                                border-color: black;
                            }
                        }
                    }

                    .modal-description {
                        padding-top: 1rem;
                    }
                }

                .modal-body-cart {
                    display: flex;
                    flex-direction: column;

                    .stock-price {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 1rem;
                    }

                    .cart-btn {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}

/*------------ Product Modal responsive adjustments-------------*/

@media (max-width: 1200px) {
    #productModal .product-modal-content {
        flex-direction: column;
        height: 80%;
        width: 70%;

        .modal-content-image img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 900px) {
    #productModal .product-modal-content {
        height: 90%;
        width: 80%;
    }
}

/*------------------- Sort Modal----------------------*/

#sortModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .sort-modal-content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        height: 60%;
        width: 50%;
        display: flex;
        overflow-y: auto;

        .modal-search-bar {
            margin: 2rem;
            display: inline-block;

            i {
                color: gray;
                padding-left: 1rem;
                font-size: 1rem;
            }
        }

        #searchInput {
            padding: 10px;
            border: 2px solid gray;
            border-radius: 8px !important;
            margin-bottom: 15px;
            border-radius: 4px;
            outline: none;
        }
    }
}

/*------------ Sort Modal responsive adjustments-------------*/

@media (max-width: 1200px) {
    #sortModal .sort-modal-content {
        height: 80%;
        width: 70%;
    }
}

@media (max-width: 900px) {
    #sortModal .sort-modal-content {
        height: 90%;
        width: 80%;
    }

    .items-notadded {
        margin-top: 30% !important;
    }
}

/*--------------Buttons--------------*/

.btn-modal-close {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.btn-modal-cart-btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    width: 15rem;
    height: 2.5rem;
    border-radius: 20px;
}

@mixin btn-like-style {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    font-size: 1.5rem;
    position: absolute;

    &.favorite {
        background-color: black;
        color: white;
        border: 1px solid black;
    }
}

.btn-like {
    @include btn-like-style;
    top: 1rem;
    right: 1rem;

    i {
        margin-top: 5px;
        margin-left: 1px;       
    }
}

.btn-like-modal {
    @include btn-like-style;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1;
}

.sort-btn {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: white;
}

.apply-sort-btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    width: 15rem;
    height: 2.5rem;
    border-radius: 20px;
}

.btn-onesize {
    width: 4rem !important;
    border-radius: 4px !important;
}

/*-------------------other------------------*/
.items-notadded {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #666;
    justify-content: center;
    margin-top: 20%;
}

/* For normal out-of-stock button */
.btn-modal-size.out-of-stock {
    cursor: default !important;
    text-decoration: line-through;
    text-decoration-thickness: 2px; /* Increase thickness */
}

/* For onesize out-of-stock button */
.btn-onesize.out-of-stock {
    cursor: default !important;
    text-decoration: line-through;
    text-decoration-thickness: 2px; /* Increase thickness */
}


.new-arrival-image {
    display: flex;
    gap: 1rem;

    @media (max-width: 1200px) {
        .image-wrapper {
            width: 70% !important;
        }
    }

    @media (max-width: 700px) {
        flex-direction: column;
        gap: 2rem;
        align-items: center; // Centers the image horizontally
        text-align: center;

        .text-wrapper {
            padding-bottom: 2rem;
        }
    }

    .image-wrapper {
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}

.notification {
    display: none; /* Hidden by default */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem;
    background-color: lightgoldenrodyellow; /* Success color */
    color: black;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;

}

.notification.error {
    background-color: #f44336; /* Error color */
}


.favorites .product-title {
    text-align: center;
    padding-bottom: 2rem;


    @media (max-width: 600px) {
        padding-top: 2rem;
    }
}

.new-arrivals .all-products .product-grid {
    gap: 1.5rem !important;
}

.new-arrivals .all-products .product-grid .product-item img {
    width: 20rem; 
    height: 20rem; 
}
