.signUp {
    padding: 5em 0;

    .container {
        width: 85%;


        @include tablet {
            width: 40%;
        }

        .signup-form {
            padding: 3em 0;

            .form-content {
                display: flex;
                flex-direction: column;
                gap: 1em;

                input {
                    border: none;
                    border-bottom: 1px solid #808080;
                    padding: 8px 0;
                    width: 100%;
                }

                label {
                    font-weight: 600;
                }


                span {
                    font-style: italic;
                    font-weight: 300;
                    color: #F42D2D
                }
            }

            .btn-dark {
                border: 1px solid black;
                
            }
        }

        .form-checkbox {
            display: flex;
            justify-content: flex-start;
            gap: 0.8rem;
            font-weight: 400;


            input {
                border-color: #191919;
                border-radius: 5px;
                height: 1.2rem;
                width: 1.2rem;
            }
        }
    }

    .password-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .password-wrapper input[type="password"],
    .password-wrapper input[type="text"] {
        width: 100%;
        padding-right: 50px; 
        box-sizing: border-box;
    }
  
    .password-toggle {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: #007bff;
    }

    .password-toggle:focus {
        outline: none;
    }

    i{
        color: black;
        margin-top: 1.2rem;
    }
}
